<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fun and easy is best!</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Meie+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Meie+Script|Nanum+Myeongjo" rel="stylesheet">
    <link rel="stylesheet" href="../style/cindy.css">
  </head>
  <body>
    <header>
      <i class="em em-tulip"></i>
      <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li><a href="https://github.com/misterdebbie/shiny">github repo</a></li>
        <li><a href="http://www.debbiechong.com/">back to portfolio</a></li>
      </ul>
    </header>
    <div class="time">
      <p id='timetarget'></p>
    </div>
    <div class="yanghead">
      <h2>Best of RTW</h2>
    </div>
    <div class="parent">

      <div class="pic">
        <i class="em em-tulip boop"></i>
       <p>best of balenciaga!</p>
       <hr>
       <img src="http://res.cloudinary.com/devbov2b0/image/upload/v1524082628/balenciaga_ccpmbg.jpg" alt="model">
       <button type="button" name="button">cool</button>
    </div>

    <div class="pic">
      <i class="em em-tulip boop"></i>
      <p>best of rodarte!</p>
      <hr>
     <img src="http://res.cloudinary.com/devbov2b0/image/upload/v1524082638/rodarte_ohq0aw.jpg" alt="model">
     <button type="button" name="button">cool</button>

   </div>

    <div class="pic">
      <i class="em em-tulip boop"></i>
     <p>best of valentino!</p>
     <hr>
     <img src="http://res.cloudinary.com/devbov2b0/image/upload/v1524082642/v39_d7p3ch.jpg" alt="model">
     <button type="button" name="button">cool</button>

   </div>

 </div>
 <hr>
 <script src="../js/cindy.js" type="text/javascript"></script>
  </body>
</html>
